.start h1 {
    font-size: 3.5em;
  }
  
  .start p {
    color: #ecfa00;
  }

.start form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start label{
    font-size: 1.3em;
    margin-bottom: 10px;
}

.start select {
    padding: 0.5em;
    width: 100px;
  }